:root {
  --bg-color: #111827;
  --nav-color: #18181b;
  --text-color: white;
  --text-color2: rgba(255, 255, 255, 0.64);
  --secondary-color: #334155;

  --danger-color: #991b1b;
  --danger-hover-color: #dc2626;
}
