:root {
  --bg-color: #111827;
  --nav-color: hwb(0 6% 100%);
  --text-color: white;
  --text-color2: rgba(255, 255, 255, 0.64);
  --secondary-color: #1e293b;

  --danger-color: #991b1b;
  --danger-hover-color: #dc2626;
}
